.applied-project-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
  min-height: 100vh;
}

.header-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  color: black;
}

.header {
  text-align: left;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.filters {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.filter-group-left {
  display: flex;
  gap: 10px; /* 필터 간 간격 */
  flex-grow: 1; /* 왼쪽 필터 그룹이 가능한 공간을 차지 */
}

.filter-group-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.filters > * {
  flex-shrink: 0; /* 자식 요소가 줄어들지 않도록 설정 */
}

.project-list-container {
  width: 100%;
  max-width: 1000px;
  position: relative;
}

.no-projects-container {
  text-align: center;
  margin-top: 260px;
  height: 90vh;
}

.error-message {
  font-size: 18px;
  font-weight: 500;
  color: red;
  margin-bottom: 20px;
}

.search-project-button {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-project-button:hover {
  background-color: #138d74;
}
