.chat-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .chat-page {
    width: 80%; /* 화면이 넓을 때 80% 너비로 설정 */
  }
}

.chat-header {
  height: 60px;
}

.chat-body {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-bubble {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.chat-content {
  display: inline-block;
  max-width: 70%;
  word-wrap: break-word;
  text-align: left;
}

.chat-icon {
  width: 40px;
  height: 40px;
  font-size: 18px;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.custom-date-picker-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  color: #495057;
}

.custom-date-picker-input:hover {
  border-color: #80bdff;
  background-color: #e9ecef;
}
