@import "colors.css";

.page-container {
  overflow-x: auto;
  min-height: 90vh;
  background-color: var(--color-bg);
}

.profile-photo {
  display: flex; /* Flexbox 사용 */
  align-items: center; /* 세로 가운데 정렬 */
  /* 필요한 경우 추가 스타일링 */
  margin-left: 50px;
}

.company-info {
  margin-left: 50px;
}

.company-name {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.company-address {
  font-size: 1rem;
  color: black;
  font-weight: 500;
  margin-top: 20px;
}

.company-introduction {
  color: black;
  margin-left: 50px;
  font-weight: bold;
}

.company-content {
  font-size: 1rem;
  color: black;
  font-weight: 500;
  margin-left: 50px;
  max-width: 100% auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.button-container {
  display: flex; /* Flexbox 사용 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  width: 1000px;
  margin: 20px auto;
}

.edit-button {
  background-color: var(--color-primary); /* 녹색 버튼 */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
