@import "colors.css";

.info-card {
  position: relative;
  height: auto;
  min-height: 320px;
  overflow-x: auto;
  min-width: 1000px;
  white-space: nowrap;
}

/* 전체 레이아웃 컨테이너 */
.finished-project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 280px;
}

/* 왼쪽 프로젝트 정보 */
.left-section {
  flex: 2;
  color: black;
  overflow-wrap: break-word;
  min-width: 800px;
}

.project-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 금액 (평가 전에는 투명 처리) */
.project-price {
  font-size: 18px;
  margin: 0px;
  display: none;
}

.project-price.visible {
  display: block;
}

.project-info-grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  gap: 20px;
  align-items: start;
  min-width: 1200px;
}

.project-info-left,
.project-info-right {
  display: flex;
  flex-direction: column;
}

.project-info-left p,
.project-info-right p {
  margin: 5px 0;
  font-size: 18px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0;
}

/* 오른쪽 평가 영역 */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #ddd;
  overflow-x: auto;
  height: 280px;
  text-align: center;
}

/* 평가 전 버튼과 코멘트를 감싸는 컨테이너 */
.before-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 버튼 위, 아래 여백 균등 배치 */
}

/* 평가하기 버튼 */
.review-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  margin: auto;
  margin-bottom: 20px;
}

/* 평가 전 코멘트 */
.review-placeholder-text {
  color: gray;
  font-size: 16px;
  text-align: center;
}

/* 평가 UI */
.rating {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
}

.radar-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 180px;
  height: 180px;
  margin-top: 20px;
}

.review-comment {
  margin-top: 20px;
  max-width: 350px;
  font-size: 18px;
  font-style: italic;
  text-align: right;
}
