.finished-project-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  overflow-x: auto;
  min-height: 100vh;
}

.header-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  color: black;
}

.header {
  text-align: left;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.filters {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.filter-group-left {
  display: flex;
  gap: 10px; /* 필터 간 간격 */
  flex-grow: 1; /* 왼쪽 필터 그룹이 가능한 공간을 차지 */
}

.filter-group-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.filters > * {
  flex-shrink: 0; /* 자식 요소가 줄어들지 않도록 설정 */
}

.project-list-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
