.chat-page.result {
  height: auto;
  overflow: visible;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 5px 10px;
}

.custom-table {
  width: 100%;
  max-width: 550px;
  border-collapse: collapse;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-table td {
  padding: 15px;
  text-align: left;
}

.custom-table .table-label {
  width: 25%;
  color: #555;
  white-space: nowrap;
}

.custom-table .table-value {
  text-align: left;
  font-weight: bold;
  color: #333;
}

.custom-table .table-value p {
  margin: 5px 0;
  line-height: 1.5;
}

.custom-table .table-full-row {
  text-align: left;
  color: #555;
  padding: 15px;
  border-top: 1px solid #eee;
}

.custom-table .table-extra {
  margin: 5px 0;
  line-height: 2;
}

.register-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
}

.register-btn {
  border-radius: 5px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.btn-edit {
  background: #f0f0f0;
  color: #333;
}

.btn-edit:hover {
  background: #e0e0e0;
}

.btn-confirm {
  background: var(--color-primary);
  color: #fff;
}

.btn-confirm:hover {
  background: var(--color-primary);
}

.predict-things {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  padding: 20px 55px;
}

.predict-top,
.predict-bottom {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.predict-left {
  flex: 2;
  max-width: 500px;
}

.predict-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.unit {
  font-size: 14px;
  color: #888;
  font-weight: normal;
}

.description {
  font-size: 12px;
  color: #666;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin: 0;
}

.estimate-values {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 각 행 간 간격 */
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.estimate-row {
  display: flex;
  justify-content: space-between; /* 레이블과 금액을 양끝으로 정렬 */
  align-items: center; /* 수직 정렬 */
}

.estimate-label {
  font-size: 12px;
  color: #888;
  margin: 0;
}

.company-estimate,
.ai-estimate {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.company-estimate {
  color: black;
}

.ai-estimate {
  color: var(--color-primary); /* 초록색 */
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.slider-container input[type="range"] {
  flex: 1;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.min-value,
.max-value {
  font-size: 12px;
  color: #888;
}

.skill-container {
  padding-top: 10px;
}

@media screen and (max-width: 950px) {
  .predict-things {
    flex-direction: column; /* 요소들을 세로 정렬 */
    align-items: center;
  }

  .predict-left {
    max-width: 100%; /* 전체 너비 사용 */
  }

  .predict-right {
    width: 100%; /* 전체 너비 사용 */
    flex-direction: column;
  }
}
