.card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.status {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.title {
  color: black;
  font-size: 30px;
  margin-left: 10px;
}

.details-row {
  display: grid;
  grid-template-columns: 150px 230px 1000px;
  margin-top: 10px;
  color: black;
  margin-left: 10px;
}

.details {
  margin-top: 10px;
  color: black;
}

.label {
  font-size: 20px;
}
.value {
  margin-left: 0px;
  font-size: 19px;
}

.category {
  font-size: 20px;
  font-weight: bold;
}

.category2 {
  font-size: 20px;
}

.location {
  color: rgb(210, 210, 210); /* 글자색 검은색으로 변경 */
  font-size: 30px; /* 글자 크기 20px로 변경 (원하는 크기로 조절) */
  margin-top: 10px; /* 모든 방향에 10px 여백 적용 */
  margin-left: 10px;
}

.location2 {
  color: black; /* 글자색 검은색으로 변경 */
  font-size: 20px; /* 글자 크기 20px로 변경 (원하는 크기로 조절) */
  margin-left: 15px;
}

.location .location2 {
  /* 텍스트 위치 조절 (원하는 값으로 조절) */
  position: relative;
  top: -3px; /* 위로 살짝 이동 */
}
.details-row2 {
  display: grid;
  grid-template-columns: 150px 220px 1000px;
  color: black;
  align-items: center;
  margin-left: 10px;
}

.labe-date1 {
  margin-top: 10px;
  font-size: 20px;
}

.value2 {
  margin-top: 10px;
  font-size: 19px;
}
