@import "colors.css";

.chat-page {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 90vh;
  margin: 10px auto;
  background: #fafeff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .chat-page {
    width: 95%; /* 화면이 넓을 때 80% 너비로 설정 */
  }
}

.chat-header {
  height: 60px;
  color: var(--color-chat);
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  padding: 25px;
}

.chat-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-secondary);
  margin-top: 20px;
}

.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 20px 20px 20px;
  margin-top: 20px;
}

.chat-bubble {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.chat-bubble.user {
  justify-content: flex-end;
}

.chat-bubble.bot {
  justify-content: flex-start;
}

.chat-content {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 80%;
  text-align: left;
  word-wrap: break-word;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-content.user {
  background: white;
  border: 1px solid var(--color-secondary);
  color: var(--color-chat);
}

.chat-content.bot {
  background: var(--color-box);
  color: white;
}

.chat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
}

.chat-icon .profile-image {
  border: none !important;
}

.chat-input {
  display: flex;
  background: white;
  margin: 10px;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-active {
  background: var(--color-bg);
  color: var(--color-chat);
  margin-left: 5px;
  font-weight: bold;
}

.btn-disabled {
  background: #d7d7d7;
  margin-left: 5px;
  cursor: not-allowed;
}

.btn-send {
  background: var(--color-box);
  color: white;
  margin-left: 5px;
}

.custom-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 입력 필드 컨테이너 */
.custom-input-container {
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* 입력 필드 스타일 */
.custom-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
}

/* 단위 텍스트 (일) */
.unit-text {
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
}

.budget-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
