@import "colors.css";

/* InfoCard 기본 스타일 */
.info-card {
  position: relative;
  height: auto;
  min-height: 320px;
  overflow-x: auto;
  max-width: 1000px;
  white-space: nowrap;
}

/* 전체 레이아웃 컨테이너 */
.project-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 250px;
  padding: 10px; /* 여백 추가 */
  box-sizing: border-box;
}

/* 상태 아이콘 영역 (모집 상태 등 표시) */
.status {
  position: relative;
  margin-bottom: 20px;
  right: 5px;
}

/* 프로젝트 제목 */
.project-title {
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 프로젝트 정보 그리드 */
.project-info-grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  gap: 20px;
  align-items: start;
  width: 100%;
}

/* 좌측 및 우측 정보 영역 */
.project-info-left,
.project-info-right {
  display: flex;
  flex-direction: column;
}

.project-info-left p,
.project-info-right p {
  margin: 5px 0;
  font-size: 18px;
  color: black;
}

.project-location {
  display: flex;
  align-items: center; /* 세로 정렬 */
  gap: 5px; /* 아이콘과 텍스트 간격 조절 */
  font-size: 16px;
  color: #555;
}

.project-location i {
  font-size: 18px; /* 아이콘 크기 조절 */
  color: darkgrey; /* 아이콘 색상 */
  margin-left: 3px;
}

.skills {
  margin-top: 4px;
}

.project-link,
.project-link:hover {
  color: black;
  text-decoration: none;
}
