@import "colors.css";

.score-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star-icon {
  font-size: 22px;
  color: var(--color-star); /* 별 색상 */
}

.score-value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  position: relative;
  margin-top: 2px;
}

.review-count {
  font-size: 16px;
  color: #666;
}
