@import "colors.css";

/* 스위치 버튼 스타일 */
.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.switch-input {
  display: none;
}

.switch {
  width: 40px;
  height: 20px;
  background: var(--color-secondary);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background 0.1s;
}

.switch.active {
  background: var(--color-point);
}

.switch-toggle {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.1s;
}

.switch.active .switch-toggle {
  left: 20px;
}

.switch-label {
  margin-left: 10px;
}
